@import "tailwindcss";

.button {
  @apply h-10 px-6 font-semibold rounded-md bg-black text-white;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}